
/*--------------------------------------------------------------
## Layouts
--------------------------------------------------------------*/
@import "layout/content-sidebar";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Posts and Pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";


.site-content {
	word-break: break-word;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  